{% extends "layouts/main.html" %}

{% block content %}
	<div class="row">
    	<div class="col s12">
      		<h4 class="center-align">Crear de Usuario</h4>
    	</div>   
    	{% from "layouts/input.html" import render_field %}
	<form class="col s12" method="POST" accept-charset="utf-8">	
		<input type="hidden" name="csrf_token" value="{{csrf_token()}}">	
  		<div class="row">
    		<div class="col s12">
      			<div class="row col s6 offset-s3 center-aling">
        			<div class="input-field col s12">
        				<i class="material-icons prefix">account_circle</i>
        				{{ render_field(form.username,id="username",class="validate",required="required",autocomplete="off") }}
          				<label for="username">Nombre de Usuario</label>
        			</div>
        			<div class="input-field col s12">
          				<i class="material-icons prefix">email</i>
         				{{ render_field(form.email,id="email",class="validate",required="required",autocomplete="off") }}
          				<label for="email">Correo electronico</label>
        			</div>
        			<div class="input-field col s12">
          				<i class="material-icons prefix">security</i>
         				{{ render_field(form.password,id="password",class="validate",required="required",autocomplete="off") }}
          				<label for="password">Contraseña</label>
        			</div>
        			<div class="input-field col s12">
        				<i class="material-icons prefix">account_box</i>
         				{{ render_field(form.type,id="type",class="validate",required="required",autocomplete="off") }}
         				<label for="type">Tipo</label>
        			</div>
        			<div class="input-field col s12 center-align">
        				<button type="submit" class="btn-small green"><i class="material-icons left">save</i>Registrar</button>        			
        				<button type="reset" class="btn-small red"><i class="material-icons left">refresh</i>Reset</button>
        			</div>	
      			</div>
    		</div>
  		</div>        
	</form> 	
  	</div>	  	
{% endblock %}